{namespace m=TYPO3\Media\ViewHelpers}
<div class="openbadges-badge-reward" data-identifier="{node.identifier}">
	<div class="openbadge-badge" data-identifier="{badgeClass -> f:format.identifier()}">
		<m:image asset="{badgeClass.image}" allowCropping="false" maximumWidth="128" maximumHeight="128" alt="{badgeClass.name}" class="openbadge-badge-image" />
		<div class="openbadge-badge-information">
			<h2>{badgeClass.name}</h2>
			<p>{badgeClass.description}</p>
		</div>
	</div>

	<ul class="openbadges-badge-assertion-steps">
		<f:for each="{badgeClass.assertionSteps}" as="stepIdentifier">
			<li data-identifier="{stepIdentifier}"></li>
		</f:for>
	</ul>

	<button class="btn btn-primary openbadges-claim-button disabled" data-toggle="modal" data-target="#modal-{node.identifier}">
		Claim your badge <span class="badge"><span class="openbadges-status-current">0</span> / <span class="openbadges-status-count">0</span></span>
	</button>

	<div class="modal fade openbadges-reward-modal" id="modal-{node.identifier}" tabindex="-1" role="dialog" aria-labelledby="modal-{node.identifier}-label" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="modal-{node.identifier}-label">Claim your badge</h4>
				</div>
				<div class="modal-body">
					<h2>Congratulations!</h2>
					<p>
						You earned the "{badgeClass.name}" badge!
					</p>
					<div class="openbadges-badge-image centered">
						<m:image asset="{badgeClass.image}" allowCropping="false" maximumWidth="256" maximumHeight="256" alt="{badgeClass.name}" />
					</div>
					<h3>Send to Mozilla Backpack</h3>
					<p>
						You can store this badge in your <a href="https://backpack.openbadges.org/">Mozilla Backpack</a> account. It's part of the <a href="http://openbadges.org/">OpenBadges</a> project and used to collect
						badges from many sites.
					</p>
					<form class="form-inline" action="{f:uri.action(action: 'create', controller: 'BadgeAssertion', package: 'Networkteam.OpenBadges', format: 'json')}">
						<div class="form-group">
							<label class="sr-only" for="modal-{node.identifier}-email">Email address</label>
							<input type="email" class="form-control" id="modal-{node.identifier}-email" placeholder="Enter email">
						</div>
						<button type="submit" class="btn btn-default">Send to Backpack</button>
						<p><small>Note: we will not store the email address or send you emails (see our <a href="#">Privacy Policy</a>). It's only needed to create your personal badge.</small></p>
					</form>
					<div class="openbadges-messages"></div>
				</div>
			</div>
		</div>
	</div>

</div>